@import '../../mixin.sass'

.wrap
    height: 8rem
    background: rgba(38, 36, 35, 0.9)
    border-bottom: 1px solid #000
    box-shadow:0 4px 0 rgb(var(--c-bg-shadow))
        // , 0 0px 10px rgb(var(--c-pink))
    &__container
        height: 100%
        padding: 1.6rem 6rem
    &__row
        height: 100%
        align-items: center
.logo
    height: 100%
    &__wrap
        height: 3.8rem
