@import '../../mixin'

.wrap
    min-height: 100vh
.title
    text-align: center
    margin-top: 8rem
    font-size: 3.9rem
    line-height: 1
    color: rgb(var(--c-yellow))
    text-transform: uppercase
    text-shadow: 0 2px 0 rgb(var(--c-yellow-shadow))
    font-family: var(--f-minecraft)