@import '../../mixin.sass'
.wrap
    height: 8rem
    background: rgba(38, 36, 35, 0.9)
    border-top: 1px solid #000
    box-shadow:0 -4px 0 rgb(var(--c-bg-shadow))
        // , 0 0px 10px rgb(var(--c-pink))