@import '../../mixin.sass'
body .wrap
    min-height: 8rem
    color: rgb(var(--c-white))
    background: rgba(38, 36, 35, 0.9)
    border-top: 1px solid #000
    box-shadow:0 -4px 0 rgb(var(--c-bg-shadow))
        // , 0 0px 10px rgb(var(--c-pink))
    &__container
        padding: 0
    &__top
        // background: rgba(255, 0, 0, .2)
        margin-right: 0
        margin-left: 0
        height: 100%
        &__left
            padding: 1rem 0
        &__right
            padding: 0
    &__bottom
        height: 8rem
        background: #28272C
        overflow: hidden
        &__row
            justify-content: space-between
        &__author
            display: flex
            flex-direction: column
            justify-content: center
            padding: 1rem 0
            height: 100%
            list-style: none
            font-size: 1.1rem
            & li
                color: rgba(var(--c-white), .5)
                font-weight: 500
        &__info
            justify-content: right
            &__img
                padding: 0
                overflow: hidden
                width: 8rem
                text-align: center
                padding: 1rem 0
                & img
                    border: 4px solid rgba(var(--c-black), .5)
                    border-radius: 12px
                    overflow: hidden
                    width: 6rem
                    height: 6rem
            &__text
                padding: 1rem 0
                text-align: right
                & ul
                    list-style: none
                    opacity: 0.4
                & h2
                    font-family: Arial, Helvetica, sans-serif
                    
        
.logo
    // height: 3rem
    width: 100%
    &__wrap
        margin: 0
        margin-top: 2rem
        justify-content: space-between
    &__text
        color: #aaa
    &Skin
        padding: 0
        width: 8rem
        text-align: center
        box-sizing: border-box
        border-radius: 1rem
        &__wrap
            text-align: center
.offer
    background: #030
    &__list
        list-style: none
        padding: 0
        display: inline-block
        text-align: right
        width: 100%
    &__item
        display: inline-block
        &:last-child
            margin-left: 10px
    &__link
        font-weight: 400
        font-family: var(--f-Noto-Sans)
        font-size: 1.6rem