@font-face{
  font-family: Minecraft;/* Гарнитура шрифта */
    src: url(fonts/minecraft-ten-font-cyrillic.ttf); /* Путь к файлу со шрифтом */
}
    

:root{
  --c-bg-1: 28, 27, 28;
  --c-bg-2: 5, 5, 5;
  --c-bg-shadow: 17, 16, 16;

  --c-white: 255, 255, 255;
  --c-pink: 252, 93, 217;
  --c-yellow: 255, 217, 83, 1;
  --c-yellow-shadow: 157,111,23;
  --f-minecraft: Minecraft, san-serif;

  /* --c-pink: 250, 0, 78; */
  --c-pink-hover: 251, 166, 234;
  --c-black: 0, 0, 0;
  
}
html{
  font-size: 10px;
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #1C1B1C 0%, #050505 100%);
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Century Gothic'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
